* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

:root {
  /* Produto colors */
  --brand-gradient: linear-gradient(to right, #fc4a1a, #f7b733);
  --brand-primary: #f7b733;
  --brand-secondary: #fc4a1a;

  /* Base */
  --bg-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-primary: #f4f4f5;
  --text-secondary: #a1a1aa;

  /* Fontes */
  --fs-sm: 1.4rem;
  --fs-base: 1.6rem;
  --fs-lg: 2rem;
  --fs-xl: 2.4rem;
  --fs-2xl: 4rem;

  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;
  --ff-inter: "Inter", system-ui, sans-serif;

  /* Fonts Styles*/
  --h1: var(--fw-bold) 4rem/120% var(--ff-inter);
  --h2: var(--fw-bold) 2.4rem/120% var(--ff-inter);
  --h3: var(--fw-bold) 2rem/120% var(--ff-inter);
  --span: var(--fw-md) 1.4rem/100% var(--ff-inter);
  --paragraph: var(--fw-base) 1.6rem/160% var(--ff-inter);

  /* Utility */
  --py-base: 1.6rem;
  --py-lg: 2.4rem;
  --py-xl: 3.8rem;

  --px-lg: 2.4rem;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-inter);
  color: var(--text-primary);
}

body {
  background-color: var(--bg-color);
}

h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
span {
  font: var(--span);
}
p {
  font: var(--paragraph);
}

h1,
h2,
h3 {
  color: var(--text-primary);
  letter-spacing: -0.64px;
}

a {
  font-size: var(--fs-base);
  font-weight: var(--fw-md);
  font-family: var(--ff-inter);
  text-decoration: none;
  color: inherit;

  &:hover{
    background: var(--brand-gradient);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

  }
}

ul[role="list"] {
  list-style-type: none;
}

h1,
h2,
h3,
span,
p,
label {
  &:hover {
    color: var(--brand-gradient);
  }
}

.icon {
  &:hover {
    color: var(--brand-gradient);
  }
}

img{
  max-width: 100%;
  display: inline-block;
}

@media (width >= 1280px) {
  :root {
    --h1: var(--fw-bold) 6.4rem/120% var(--ff-inter);
    --h2: var(--fw-bold) 4.8rem/120% var(--ff-inter);
    --h3: var(--fw-bold) 3.2rem/120% var(--ff-inter);
    --span: var(--fw-md) 1.4rem/100% var(--ff-inter);
    --paragraph: var(--fw-base) 1.6rem/160% var(--ff-inter);

    --py-base: 2.4rem;
    --py-lg: 4rem;
    --py-xl: 8rem;

    --px-lg: 3.2rem;

    --fs-lg: 3.2rem;
    --fs-xl: 4.8rem;
    --fs-2xl: 6.4rem;
  }
}
