#pricing{
    --fs-price: 3.2rem;

    & header{
        text-align: center;
    }

    & .cards{
        margin-top: 3.2rem;
    }

    & h3{
        font-size: 2rem;
        margin-top: 0;
    }

    & .card p{
        margin-top: .4rem;
    }

    & zin-pricing{
        display: block;
        padding-block: 2.4rem;
        font: var(--fw-bold) var(--fs-price)/1.2 var(--ff-inter);
    }

    & zin-pricing small{
        font: var(--fw-base) 1.6rem/125% var(--ff-inter);
        color: var(--text-secondary);
    }

    & .btn{
        width: 100%;
    }

    & .separator{
        height: 1px;
        margin-block: 3.2rem;
        background: radial-gradient(var(--text-secondary), var(--surface-color) 70%);
    }

    @media (width >= 1280px){
        --fs-price: 4rem;

        & header{
            max-width: 80rem;
            margin-inline: auto;
        }
    }
}
