#smartphones-img{
    margin-top: 8rem;
    background: url(../imgs/about-bg.png);
}

section{
    & header{
        & strong{
            display: block;
            font: var(--fw-md) var(--fs-sm)/100% var(--ff-inter);
            letter-spacing: 0.08em;
            text-transform: uppercase;

            color: var(--brand-primary);
        }
        & h2{
            margin-top: .8rem;
        }
    }

    & p{
        margin-top: .8rem;
        color: var(--text-secondary);
    }
}

@media (width >= 1280px){
    #smartphones-img{
        display: none;
    } 
}